/* width */
::-webkit-scrollbar {
	width: 10px;
	
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }



body{
    background-image: url("images/starfield.png") !important;
    background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
	left: 0;
    top: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
    background-color: #262f3d;
}

.status-box{
	width: 45px;
	float: left;
	display: block;
}

.task{
	font-family: 'Play', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}

.HIGH{
	font-family: 'Play', sans-serif;
	font-weight: 700;
	color: red;
}

.NORMAL{
	font-family: 'Play', sans-serif;
	font-weight: 700;
	color: green;
}

.pop-up{
	padding: 25px;
	border: solid #243360 15px;
}

#close{
	width: 30px;
}

#close-anchor{
	top: 25px;
	right: 25px;
	position: absolute;
}

.date-item{
	margin-left: 1em;
	display: inline;
}

#completed-tasks{
	float: left;
	font-family: 'Play', sans-serif;
	font-weight: 700;
}

#future-tasks{
	float: right;
	font-family: 'Play', sans-serif;
	font-weight: 700;
}

.top-bar{
	width: 100%;
	background-color: white;
	height: 65px;
	z-index: 99;
	margin-bottom: 25px;
}

.title-blue{
	color: #243360;
	font-family: 'Play', sans-serif;
	font-weight: 700;
	line-height: 1.75em;
	display: inline;
}

.live-list-logo{
	margin: 25px;
	height:200px;
}

.live-list-logo-small{
	margin: 10px;
	height: 50px;
	display: inline;
	float: left;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#bad-login{
    display: none;
}

#bad-password{
    display: none;
}

.divider{
    width: 100%;
    height: 3px;
    background-color: white;
    margin-top: 20px;
}

#sign-out{
	float: right;
	display: inline;
	margin: 10px;
}

#welcome-box{
	position: absolute;
	width: 70%;
	top: 15px;
	left: 0;
	right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
}

#welcome{
	color: #243360;
	font-family: 'Play', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}

.border-bottom-white{
	border-bottom: solid white 3px;
}

.border-top-white{
	border-top: solid white 3px;
}


#add-task{
	width: 25%;
	font-family: 'Play', sans-serif;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

.button-box{
	width: 100%;
	margin-top: 25px;
}

.detail-box{
	height: 225px;
}

.tasks-box{
	max-height: 472px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.detail-item{
	line-height: 3em;
	margin-left: 150px;
}

.detail-item-text{
	margin-left: 150px;
}

.detail-item-box{
	display: inline;
}

.add-task{
	background-color: white;
	position: fixed;
	top: 200px;
	left: 25%;
	width: 50%;
	display: none;
	
}

.text-blue{
	color: #243360;
}

#submit-task{
	width: 25%;
	font-family: 'Play', sans-serif;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
}

#update-task{
	width: 25%;
	font-family: 'Play', sans-serif;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

